* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.maintitle {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

body {
  padding: 40px 60px;
  background-color: rgba(146, 146, 146, 0.575);
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-family: Roboto;
  font-size: 80px;
  margin-bottom: 40px;
}
.title::first-letter {
  font-family: Tilt Prism;
  font-size: 200%;
  color: #2f104d;
}
.rotate-scale-up {
  -webkit-animation: rotate-scale-up 0.65s linear both;
  animation: rotate-scale-up 0.65s linear both;
}

@-webkit-keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}
@keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}

.subtitle {
  font-family: Roboto;
}
.name {
  font-family: Roboto;
  font-size: 12px;
}
.mainbody {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

.txt {
  margin-left: 300px;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}
.container .box {
  position: relative;
  width: 20rem;
  height: 20rem;
  margin: 3rem;
}
.container .box:hover .imgBox {
  transform: translate(-1.5rem, -1.5rem);
}
.container .box:hover .content {
  transform: translate(3.5rem, 3.5rem);
}
.imgBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: all 0.5s ease-in-out;
}

.imgBox img {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  resize: both;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  background-color: #fff;
  z-index: 1;
  align-items: flex-end;
  text-align: center;
  transition: 0.5s ease-in-out;
  border: 0.5px solid rgba(18, 18, 18, 0.2);
  box-shadow: 10px 5px 5px #555;
}

.content h2 {
  display: block;
  font-size: 2rem;
  color: #111;
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: 1px;
}

.content span {
  color: #555;
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: 2px;
}

@media (max-width: 600px) {
  .container .box:hover .content {
    transform: translate(0, 3.5rem);
  }
  .container .box:hover .imgBox {
    transform: translate(0, -3.5rem);
  }
}

.maintitle{
  position: relative;
}
.goose{
  position: absolute;
  top: 0;
  left: 200px;
}